
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <form action="/contaPagar/update" method="post">
        <div>
            <label for="campo">Nome</label>
            <input type="text" name="nome" id="campo-nome" 
                   value="@ViewBag.ContaPagar.Nome"/>
        </div>

        <div>
            <label for="campo">Valor</label>
            <input type="text" name="valor" id="campo-valor" 
                   value="@ViewBag.ContaPagar.Valor"/>
        </div>

        <div>
            <label for="campo">Tipo</label>
            <input type="text" name="tipo" id="campo-tipo" 
                   value="@ViewBag.ContaPagar.Tipo"/>
        </div>

        <div>
            <label for="campo">Descrição</label>
            <input type="text" name="descricao" id="campo-descricao"
                   value="@ViewBag.ContaPagar.Descricao"/>
        </div>

        <div>
            <label for="campo">Status</label>
            <input type="text" name="status" id="campo-status"
                   value="@ViewBag.ContaPagar.Status"/>
        </div>

        <div>
            <input type="hidden" name="id" value="@ViewBag.ContaPagar.Id" />
            <button type="submit">Salvar</button>

        </div>

    </form>
</body>
</html>
